/* .positionMessage {
  position: absolute;
  left: 50px;
  top: 100px;
} */
#slideshow {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
}
#preview {
  position: absolute;
}